
<div class="grid-pig">
  <%= image_tag pig.photo, class:"pig-image" %>
  <ul class= "pig-property-list">
    <li class= "pig-name"><%= link_to pig.name, pig_path(pig) %></li>
    <li class="pig-address"><%= pig.address %></li>
    <li class="pig-price font-weight-bold"><%= pig.price %>€ per day</li>
  </ul>
</div>
