// Specific CSS for your home-page

// left side
.side-image-box{
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.side-image-box-button {
  position:absolute;
  bottom: 16px;
  left: 18%;
}

#side-image-box-text-bottom {
  position: absolute;
  bottom: 80px;
}

#side-image-box-text-top {
  margin-top: 32px;
}


//right hand side

.right-column-pigs {
  display: flex;
  flex-direction:column;
}

.column-pig-header {
background-color: #ffb3b3;
color: white;
padding: 4px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
margin: 0;
}

.column-pig-link {
  text-decoration: none;
}