// Specific CSS for your home-page

.side-image-box{
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.side-image-box-button {
  position:absolute;
  bottom: 16px;
  left: 35%;
}
