.card-show {
  color: white;
  height: 500px;
  width:800px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  box-shadow: 3px 8px 12px rgba(0,0,0,0.3);
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
}

.card-show img {
  height: 200px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 8px 12px rgba(0,0,0,0.3);
  margin-left: 10px;
}

.card-show-title {
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
  color: #ffb3b3;
  font-weight: bold;
}

.card-show-infos {
  color: black;
  justify-content: center;
  font-weight: thin;
  margin: 0;
}

.card-show .btn {
  margin-right: 400px;
  margin-top: 50px;
  position: relative;
}

.pig-list {
  list-style-type: none;
}

.flexbox-pig{
  display: flex;
  }

#pig-picture{
  height: 100%;
  width:60%; ;
  border-radius: 10px;
  object-fit: cover;
  margin: 40px 40px 20px 40px;
  }

.pig-info {
  width: 1000px;
  margin: 40px 20px 20px 40px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(197, 146, 42);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px 20px 0px 20px;
}

#show-button {
  width: 100%;
}

#pig-stars {
  color: rgb(197, 146, 42);
}
