.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.avatar {
  height: 40px;
  weight: 16px;
  object-fit: cover;
}

.nav-link:hover {
  font-weight: bold;
}
